.btn-success {
  margin: 20px;
  width: 50%;
}

.filter-output {
  height: 100%;
}

.display-items {
  margin-top: 30px;
}

.display-items-listed {
  border: 1px solid #d4d0d0;
  padding: 20px 0;
}

.employee-profile span {
  font-weight: bold;
}

input {
  margin-bottom: 20px;
  border-radius: 5px 5px;
  padding: 5px 5px;
  width: 100%;
  border: 1px solid lightgray;
}
